.character-item-card {
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  .character-item-picture {
  }
  .character-item-name {
    font-size: larger;
    padding: 10px;
  }
}
