.character-item-card {
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  .character-item-picture {
  }
  .character-item-name {
    font-size: larger;
    padding: 10px;
  }
  &:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 475px) {
  .character-item-card {
    width: 70%;
    .character-item-picture {
      width: 100%;
      height: 100%;
    }
  }
}
